

.commentHolder { 
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.commentHolder a { 
    text-decoration: none;
}
