

.main { 
    width: 79%;
    /* height: 120vh; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}


.commentHolder { 
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.commentHolder a { 
    text-decoration: none;
}

.fullCommentHolder{ 
    width: 55%;
    background-color: #c7d2fe;
    border: solid 1px #3730a3;
    color: #3730a3;
    border-radius: 12px;
    font-size: 20px;
    padding: 5px;
    margin: 12px 0px;
}

.addCommentHolder { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
}
